body {
    font-family: Poppins, SFMono-Regular, Menlo, 
    Monaco, Consolas, "Liberation Mono", 
    "Courier New", monospace, Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    background-color: #EAEAEA !important;
}

.form-check-input[type="checkbox"] {
    border-color: #C0611C;
}
  
.form-check-input[type="checkbox"]:checked {
    background-color: #C0611C;
    border-color: #C0611C;
}
 
.radio-control-container .form-check-input[type="radio"],
.modal-add-address .form-check-input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: #fff;
    border: 2px solid #C0611C;
    border-radius: 50%;
  }
  
  .radio-control-container .form-check-input[type="radio"]:checked,
  .modal-add-address .form-check-input[type="radio"]:checked {
    background-color: #C0611C;
    border-color: #C0611C;
  }
  .modal-add-address .form-group {
    margin-bottom: 1.5rem !important;
  }
 
  .modal-add-address .form-check-label {
    margin-left: 5px;
  } 

  




.section-header {
    height: 70px;
    background-color: #4B312B;
}

.title-right {
    color: #fff;
    font-weight:500;
}

.title-right svg {
    color: #00a82a;
}

.back-to-cart a {
    height: 18px;
}

.icon-back span {
    font-size: 12px;
    color: #C0611C;
}

.tag-back-to-cart {
    font-size: 12px;
    font-weight: 600;
    color: #C0611C;
    letter-spacing: 0.2px;
    margin-bottom: 1.5rem;
}

.title-container h1 {
    font-size: 18px;
    font-weight: 600;
    color: #251F1E;
    letter-spacing: 0.2px;
    margin-top: 1.5rem;
}


.sub-section .inputs, .sub-section .delivery-form,
.sub-section .voucher-of-payment, 
.sub-section .user-data-check, .sub-section .purchase {
    background-color: #fff;
    border-radius: 12px;
    padding-top: 24px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
}

.anonymous-form p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    color: #4B312B;
    font-size: 1.2456rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    border-bottom: 1px solid #251F1E;
}

.subtitle {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-bottom: 28px;
    margin-top: 14px;
    color: #2f3a51;
    font-style: normal;
}

a span, .terms-text a{
    color: #C0611C;
    font-weight: 600;
}

.sub-section .form-group .info-name {
    margin-bottom: 24px;
}

.tags {
    margin-bottom: 7px;
    width: 100%;
    color: #2f3a51;
    font-size: 0.7775rem
}

.info-name input, .info-docs input {
    border: 1.5px solid #251F1E;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    padding: 11px 8px;
    line-height: 18px;
    box-sizing: border-box;
}

.type-id {
    border-radius: 12px;
    position: relative;
}

select {
    width: 100%;
    border: 1px solid #251F1E;
    height: 40px;
    border-radius: 8px;
    color: #512f38;
    padding: 8px;
    padding-right: 22px;
    box-sizing: border-box;
    position: relative;
}

.terms-row {
    margin-bottom: 7px;
}

.terms-checkbox input {
    cursor: pointer;
}

.terms-text {
    font-size: 14px;
}

.type-delivery-container .content {
    margin-bottom: 24px;
    cursor: pointer;
}

.type-delivery-container .modal-add-address .btn-add-address {
    border: 2px dashed #C0611C;
    color: #C0611C;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.type-store-container {
    margin-top: 24px;
    cursor: pointer;
}

.label-black {
    font-weight: 700;
    line-height: 100%;
    font-size: 0.875rem;
}

.label-sub {
    font-weight: 400;
    line-height: 100%;
    font-size: 0.7775rem;
}

.radio-control-container {
    margin-right: 10.5px;
}

.user-check-info {
    margin-bottom: 5px;
    line-height: 100%;
}

.user-check-info .title-user-check{
    color: #2F231F;
    font-weight: 700;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.user-check-info .subtitle-user-check{
    color: #000;
    font-weight: 600;
    font-size: 13px;
}

.finish-purchase button {
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #C0611C;
}

.finish-purchase button span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}








.mini-cart-container {
    background-color: #fff;
    border-radius: 12px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;


    position: sticky;
    top: 0; /* Ajusta la altura según sea necesario */
    overflow-y: auto;


}

.header-mini-cart h3 {
    margin-top: 0;
    color: #4B312B;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.header-mini-cart h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #4B312B;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.shopping-list-container .item {
    padding-top: 18px;
    margin-bottom: 12px;
    border-top: 1px solid #251F1E;
}

.item-info {
    overflow: hidden;
    width: 190px;
}

.tag-name span {
    color: #4B312B;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.tag-quality span {
    font-size: 0.714rem;
    color: #C0611C;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin-top: 0;
}

.item-quantity span {
    font-size: 0.754rem;
    color: #251F1E;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.offer-price-content {
    font-size: 1.2rem;
    color: #251F1E;
    font-weight: 700;
}

.title-coupon-content span {
    color: #C0611C;
    font-weight: 600;
}

.subtitle-coupon-content span {
    color: #251F1E;
    font-weight: 600;
    margin-bottom: 1rem;
}

.input-coupon-content input {
    border-radius: 12px;
}

.input-coupon-content button {
    border-radius: 12px;
    background-color: #C0611C;
    color: #fff;
}

.subtotal-price {
    border-top: 1px solid #251F1E;
    padding-top: 12px;
    font-size: 0.914rem;
    font-weight: 500;
}

.total-price {
    border-top: 1px solid #251F1E;
    padding-top: 12px;
    margin-top: 12px;
    font-size: 1.1rem;
    font-weight: 700;
}
.open-modal span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #4B312B;
}
.modal-order-summary .modal-header span {
    font-size: 1.3rem;
    font-weight: 500;
}
.image-container img {
    min-height: 60px;
}
.hidden-button {
    display: none;
}

@media (max-width: 1200px) {
    .hidden-button {
      display: block;
    }
    .hide-list {
      display: none;
    }
}
  
.modal-content {
    border-radius: 24px !important;
}

.modal-header {
    padding-bottom: 0 !important;
}
.form-switch .form-check-input{
    width: 4em !important;
    height: 2rem !important;
}